<?xml version="1.0"?>

<appSettings>
  <add key="MainController" value="Home" />
  <add key="ModuleView" value="Report/_View.cshtml" />
  <add key="AssemblyName" value="CenIT.ReportTourism.Modules.ReportModule" />
  <add key="Modules_Report_AttachmentFolderPath" value="/Contents/Modules/Report/Attachments" />
  <add key="Modules_Report_TemplateImportFolderPath" value="/Contents/Modules/Report/Templates" />

</appSettings>